

/* ------------------common style and utilitise-------------- */


body{
    font-family: 'Roboto', sans-serif;
   
}


/* --------main parts style start----- */

.banner{
     width: 1200px;
     height: 600px;
     display: flex;
     background-color: #0aea0066;
     border-radius: 20px;
     margin: auto;
}
.header{
 width: 50%;
}
.header h1{
    font-size: 55px;
    color: white;
    padding-left: 50px;
    padding-top: 50px;
}
.header p{
    font-size: 15px;
    color: white;
    padding-left: 50px;
    margin-bottom: 50px
    
}
.header  a{
    font-size: 30px;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    background-color: red;
    border-radius: 10px;
    margin-left: 50px;
}

.player img{
    width: 500px;
    height: 550px;
    margin-left: 100px;
    margin-top: 50px;
}

.blog{
    width: 100%;
    height: 1200px;
    display: flex;
    margin-top: 100px;
}

.live-watch {
    width: 25%;
    height: 100%;
   
}

.links {
    width: 300px;
    height: 320px;
    background-color: #0aea0066;
    margin-left: 70px;
    border-radius: 15px;
    padding-top: 10px;
}

.links p{
    
    width: 150px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-top: 30px;
    padding: 15px 35px;
    margin-left: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

#upcomming-match{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}


.all-blogs {
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   padding-left: 60px;
}

.players{
    width: 280px;
    height: 330px;
    border: 2px solid #8080800f;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 40px ;
}





.players img {
        width: 100%;
        height: 150px;
    }

.players h4{
    text-align: center;
    margin-left: 20px;
    border: 2px solid gray;
    width: 100px;
    height: 20px;
    font-size: 15px;
    border-radius: 5px;

    }
.players p{
    font-size: 16px;
    padding-left: 20px;
    font-weight: 700;
}

.icon-link{
        display: flex;
} 
.icon-link img{
    width: 25px;
    height: 25px;

} 

.icon-link h3{
   
       color: gray;
}
 .icon-link h2{
    padding-left: 130px;
    color: gray;
    }



/* ----------------main parts style end -------------- */




/* ----------------footers style start------------- */


.footer{
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: #0aea0066;
    border-radius: 15px;
}
.footer h1{
    color:white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-weight: 400;
}
.footer  hr{
    width: 700px;
   
}
.goal {
    margin-top: 100px;
    text-align: center;
}
.goal a{
    
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-left: 60px;
    padding-top: 100px;
}


/* ---------------schedule parts style --------------------- */


.blog-part-2{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 100px;
}


.live-watch-2{
    width: 25%;
    height: 100%;
}




.all-country-matches{
    width: 75%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 70px;
}

.match {
    
    width: 250px;
    height: 250px;
    border: 2px solid #8080800f;
    border-radius: 10px;
   
}


.country {
    display: flex;
}

.country img{
    width: 80px;
    padding-left: 10px;
    padding-top: 60px;
}

.country h1{
    padding-top: 60px;
    padding-left: 20px;
}

.match p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.match h3{

    text-align: center;
    color: gray;
    font-size: 15px;
    font-weight: 400;
}




.social-link {
    width: 200px;
    height: 70px;
    margin-left: 600px;
    margin-top: 40px;
    font-size: 30px;
}
.social-link a{
    color: white;
    padding-left: 20px


}




/* -------------------    media query   -------------------- */



   
















